container_commands:
  01_migrate:
    command: "django-admin.py migrate"
  02_createsu:
    command: "django-admin.py createsu"
    leader_only: true
  03_wsgipass:
    command: 'echo "WSGIPassAuthorization On" >> ../wsgi.conf'

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "FabFresh.settings"
    PYTHONPATH: "/opt/python/current/app/FabFresh:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: "FabFresh/wsgi.py"
    "StaticFiles": "/static/=static/"
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "/static/"
